{{ define "title" }}{{ .Title }} - {{ .Site.Title }}{{ end}}
{{ define "body_classes" }}page-single{{ end }}

{{ define "main" }}
<section class="section">
  <div class="container">
    <article>
      <header class="mb-4">
        <h1>{{ .Title }}</h1>
        {{ if .Date }}
        <time class="text-muted">{{ .Date.Format "January 2, 2006" }}</time>
        {{ end }}
      </header>
      
      <div class="content">
        {{ .Content }}
      </div>
    </article>
  </div>
</section>
{{ end }}
