{{ define "main" }}
{{ partial "page-head.html" (dict
  "kicker" "About"
  "title" .Title)
}}

<section class="section">
  <div class="container">
    <div class="prose">
      {{ .Content }}
    </div>
  </div>
</section>

<section class="section tinted" id="partners">
  <div class="container">
    {{ partial "section-head.html" (dict "id" "partners" "meta" "Partners" "title" "Partner <em>institutions.</em>") }}
    <div class="grid-4 reveal" style="align-items: center;">
      <div class="partner-tile">
        {{ partial "img.html" (dict "src" "img/partners/shenzhen-childrens-hospital.png" "alt" "Shenzhen Children's Hospital" "width" 320) }}
      </div>
      <div class="partner-tile sm">
        {{ partial "img.html" (dict "src" "img/partners/nyu.svg" "alt" "New York University" "width" 106 "height" 36) }}
      </div>
      <div class="partner-tile sm">
        {{ partial "img.html" (dict "src" "img/partners/uva.svg" "alt" "University of Virginia" "width" 162 "height" 52) }}
      </div>
      <div class="partner-tile">
        {{ partial "img.html" (dict "src" "img/partners/uiuc.png" "alt" "University of Illinois Urbana-Champaign" "width" 320) }}
      </div>
    </div>
  </div>
</section>
{{ end }}
