{{ define "title" }}Research - {{ .Site.Title }}{{ end}}
{{ define "body_classes" }}page-research{{ end }}

{{ define "main" }}
<section class="section">
  <div class="container">
    <h2 class="text-center mb-4" data-aos="fade-up">Our Research</h2>
    
    <div class="research-papers" data-aos="fade-up" data-aos-delay="200">
      {{ range .Pages }}
      <div class="research-paper">
        <div class="paper-header">
          <h3 class="paper-title">{{ .Title }}</h3>
        </div>
        
        <div class="paper-content">
          {{ .Content }}
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
